<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323959621565-2bvp7dgr35gaka0g933tq74gsva4on60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323959621565-2bvp7dgr35gaka0g933tq74gsva4on60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323959621565-7t4no5hfuj8juf4qgdgff0glb0he3jv0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLAAsn0pnIfUStmsrx-RoqA4OhNvnrzh0</string>
	<key>GCM_SENDER_ID</key>
	<string>323959621565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smarthaazri</string>
	<key>PROJECT_ID</key>
	<string>smarthaazri</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthaazri.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323959621565:ios:750d467bfe4dd47e8ef4d4</string>
</dict>
</plist>