<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            margin-top: 50px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
        <label>Full Name</label>
        <input type="text" required name="name" placeholder="IJ Roy" />
        <label>Email</label>
        <input type="text" required name="email" placeholder="example@gmail.com" />
        <label>Password</label>
        <input type="text" required name="password" placeholder="********" />

        <button type="submit" >SignUp</button>
    </form>
</body>
</html>